@theme {
  --font-trirong: var(--font-trirong);
  --font-prompt: var(--font-prompt);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  
  /* ล็อคไม่ให้ก๊อปปี้ คลุมดำ หรือกดค้างเลือกข้อความทั้งหน้าเว็บ */
  -webkit-user-select: none; /* Safari / iOS */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE / Edge */
  user-select: none;         /* Standard */
  
  /* ปิดแถบไฮไลต์สีเทา/ฟ้า เวลากดสัมผัสบนมือถือ Android/iOS */
  -webkit-tap-highlight-color: transparent; 
}

/* ยกเว้นช่องกรอกข้อมูล ให้ผู้ใช้คลิกพิมพ์และก๊อปปี้คำค้นหาได้ตามปกติ */
input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* บังคับให้ Input, Button, Select สืบทอดฟอนต์มาใช้ */
input, button, select, textarea {
  font-family: inherit;
}

/* ซ่อน Scrollbar สำหรับ Element ที่ใช้คลาส .hide-scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
/* ป้องกันการ double-tap เพื่อซูมบนมือถือ */
html, body {
  touch-action: manipulation;
}

