@import "tailwindcss";

@theme {
  --font-trirong: var(--font-trirong);
  --font-prompt: var(--font-prompt);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
ebkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
